In [38]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

###  Get the clickthrough rate per app in 2021.

   <p align="center">
  <img src="../imgs/ctr.png" alt="ctr" width="500" />
</p>

#### Write input and output of the query

Logical execution of SQL queries:
“Frida Went Gathering Her Small Delicious Orange Lollipops”

F → FROM
W → WHERE
G → GROUP BY
H → HAVING
S → SELECT
D → DISTINCT
O → ORDER BY
L → LIMIT

Input those 3 cols
Ouput has to be app_id, sum_events where event = "click", sum_events where event = "impression", ctr as (sum_events where event = "click"/sum_events where event = "impression" )*100

Steps:
1. from events
2. where timestamp = 2021
3. group by app_id
4. select app_id, CASE(event_type = "click"), CASE(event_type = "impression"), ctr as mentioned before

In [40]:
%%sql 
SELECT app_id, 
    SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END) as total_clicks,
    SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) as total_impressions,
    ROUND(
        (SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END)::numeric
        / NULLIF(SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END),0))*100, 2
    ) as ctr
FROM events
WHERE EXTRACT(YEAR FROM timestamp) = 2021
GROUP BY app_id;

 * postgresql://user:***@localhost:5432/postgres
9 rows affected.

[(1, 1, 3, Decimal('33.33')),
 (2, 0, 1, Decimal('0.00')),
 (3, 1, 2, Decimal('50.00')),
 (4, 1, 4, Decimal('25.00')),
 (5, 0, 4, Decimal('0.00')),
 (6, 1, 2, Decimal('50.00')),
 (7, 1, 3, Decimal('33.33')),
 (8, 1, 3, Decimal('33.33')),
 (9, 0, 4, Decimal('0.00'))]