In [4]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

###  Use the table named events. Get the clickthrough rate per app in 2021.

   <p align="center">
  <img src="../imgs/ctr.png" alt="ctr" width="500" />
</p>

#### Write input and output of the query

Logical execution of SQL queries:
“Frida Went Gathering Her Small Delicious Orange Lollipops”

F → FROM
W → WHERE
G → GROUP BY
H → HAVING
S → SELECT
D → DISTINCT
O → ORDER BY
L → LIMIT

Input those 3 cols
Ouput has to be app_id, sum_events where event = "click", sum_events where event = "impression", ctr as (sum_events where event = "click"/sum_events where event = "impression" )*100

Steps:
1. from events
2. where timestamp = 2021
3. group by app_id
4. select app_id, CASE(event_type = "click"), CASE(event_type = "impression"), ctr as mentioned before

In [5]:
%%sql

SELECT * FROM events LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(7, 'impression', datetime.datetime(2020, 2, 25, 16, 0)),
 (2, 'click', datetime.datetime(2020, 5, 15, 14, 1)),
 (9, 'impression', datetime.datetime(2020, 7, 22, 15, 0)),
 (4, 'click', datetime.datetime(2021, 6, 10, 17, 1)),
 (5, 'impression', datetime.datetime(2021, 1, 7, 8, 0)),
 (6, 'click', datetime.datetime(2020, 5, 12, 19, 1)),
 (1, 'click', datetime.datetime(2021, 3, 9, 13, 3)),
 (8, 'impression', datetime.datetime(2021, 1, 5, 10, 0)),
 (3, 'click', datetime.datetime(2021, 6, 1, 9, 2)),
 (9, 'impression', datetime.datetime(2021, 2, 2, 8, 5))]

In [ ]:
%%sql 
-- %%sql at the begining to run any query here

SELECT app_id, 
    -- creates the column total_clicks with a condition
    SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END) as total_clicks,

    -- creates the column total_impressions with a condition
    SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) as total_impressions,

    -- NULLIF returns the division as NULL instead of ERROR if SUM(impressions) = 0
    -- Applied on denominator bc division runs before denominator
    -- COALESCE turns NULL value to 0
    -- ::numeric (decimal) as long as at least one operand is decimal, the division becomes decimal.
    ROUND(
        COALESCE(
            (SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END)::numeric
             / NULLIF(SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END), 0)) * 100, 0), 2) AS ctr
FROM events
WHERE EXTRACT(YEAR FROM timestamp) = 2021
GROUP BY app_id;

 * postgresql://user:***@localhost:5432/postgres
9 rows affected.

[(1, 1, 3, Decimal('33.33')),
 (2, 0, 1, Decimal('0.00')),
 (3, 1, 2, Decimal('50.00')),
 (4, 1, 4, Decimal('25.00')),
 (5, 0, 4, Decimal('0.00')),
 (6, 1, 2, Decimal('50.00')),
 (7, 1, 3, Decimal('33.33')),
 (8, 1, 3, Decimal('33.33')),
 (9, 0, 4, Decimal('0.00'))]