In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### 1. Select the first rows of the users and trades tables

In [2]:
%%sql
SELECT * FROM users LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643)),
 (107, 'Rome', 'user107@example.com', datetime.datetime(2025, 7, 20, 14, 6, 9, 385643)),
 (108, 'Lisbon', 'user108@example.com', datetime.datetime(2025, 7, 21, 14, 6, 9, 385643)),
 (109, 'Madrid', 'user109@example.com', datetime.datetime(2025, 7, 22, 14, 6, 9, 385643)),
 (110, 'London', 'user110@example.com', datetime.datetime(2025, 7, 23, 14, 6, 9, 385643))]

In [3]:
%%sql
SELECT * FROM trades LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 101, Decimal('49.99'), 10, 'impression', datetime.datetime(2025, 7, 14, 14, 6, 9, 390287)),
 (2, 102, Decimal('75.50'), 5, 'click', datetime.datetime(2025, 7, 15, 14, 6, 9, 390287)),
 (3, 103, Decimal('20.00'), 15, 'click', datetime.datetime(2025, 7, 16, 14, 6, 9, 390287)),
 (4, 104, Decimal('100.00'), 8, 'impression', datetime.datetime(2025, 7, 17, 14, 6, 9, 390287)),
 (5, 105, Decimal('60.25'), 20, 'click', datetime.datetime(2025, 7, 18, 14, 6, 9, 390287)),
 (6, 106, Decimal('33.33'), 12, 'impression', datetime.datetime(2025, 7, 19, 14, 6, 9, 390287)),
 (7, 101, Decimal('85.75'), 7, 'click', datetime.datetime(2025, 7, 20, 14, 6, 9, 390287)),
 (8, 102, Decimal('42.10'), 18, 'impression', datetime.datetime(2025, 7, 21, 14, 6, 9, 390287)),
 (9, 103, Decimal('55.55'), 9, 'click', datetime.datetime(2025, 7, 22, 14, 6, 9, 390287)),
 (10, 104, Decimal('99.99'), 11, 'impression', datetime.datetime(2025, 7, 23, 14, 6, 9, 390287))]

### 2. Find the total trade value (price * quantity) per user

In [4]:
%%sql
SELECT user_id, price, quantity, price * quantity as trade_value
FROM trades;

 * postgresql://user:***@localhost:5432/postgres
50 rows affected.

[(101, Decimal('49.99'), 10, Decimal('499.90')),
 (102, Decimal('75.50'), 5, Decimal('377.50')),
 (103, Decimal('20.00'), 15, Decimal('300.00')),
 (104, Decimal('100.00'), 8, Decimal('800.00')),
 (105, Decimal('60.25'), 20, Decimal('1205.00')),
 (106, Decimal('33.33'), 12, Decimal('399.96')),
 (101, Decimal('85.75'), 7, Decimal('600.25')),
 (102, Decimal('42.10'), 18, Decimal('757.80')),
 (103, Decimal('55.55'), 9, Decimal('499.95')),
 (104, Decimal('99.99'), 11, Decimal('1099.89')),
 (105, Decimal('44.44'), 14, Decimal('622.16')),
 (106, Decimal('77.77'), 6, Decimal('466.62')),
 (101, Decimal('23.45'), 13, Decimal('304.85')),
 (102, Decimal('88.88'), 5, Decimal('444.40')),
 (103, Decimal('66.66'), 17, Decimal('1133.22')),
 (104, Decimal('31.11'), 19, Decimal('591.09')),
 (105, Decimal('50.50'), 8, Decimal('404.00')),
 (106, Decimal('45.45'), 12, Decimal('545.40')),
 (101, Decimal('72.25'), 10, Decimal('722.50')),
 (102, Decimal('95.50'), 7, Decimal('668.50')),
 (103, Decimal('30.30'), 15, Decimal('454.50')),
 (104, Decimal('60.60'), 9, Decimal('545.40')),
 (105, Decimal('80.80'), 12, Decimal('969.60')),
 (106, Decimal('55.55'), 11, Decimal('611.05')),
 (101, Decimal('44.44'), 14, Decimal('622.16')),
 (102, Decimal('77.77'), 6, Decimal('466.62')),
 (103, Decimal('33.33'), 18, Decimal('599.94')),
 (104, Decimal('99.99'), 5, Decimal('499.95')),
 (105, Decimal('50.50'), 16, Decimal('808.00')),
 (106, Decimal('65.65'), 8, Decimal('525.20')),
 (101, Decimal('20.20'), 13, Decimal('262.60')),
 (102, Decimal('75.75'), 9, Decimal('681.75')),
 (103, Decimal('88.88'), 12, Decimal('1066.56')),
 (104, Decimal('45.45'), 10, Decimal('454.50')),
 (105, Decimal('55.55'), 14, Decimal('777.70')),
 (106, Decimal('66.66'), 7, Decimal('466.62')),
 (101, Decimal('77.77'), 11, Decimal('855.47')),
 (102, Decimal('88.88'), 9, Decimal('799.92')),
 (103, Decimal('99.99'), 13, Decimal('1299.87')),
 (104, Decimal('22.22'), 15, Decimal('333.30')),
 (105, Decimal('33.33'), 8, Decimal('266.64')),
 (106, Decimal('44.44'), 12, Decimal('533.28')),
 (101, Decimal('55.55'), 7, Decimal('388.85')),
 (102, Decimal('66.66'), 10, Decimal('666.60')),
 (103, Decimal('77.77'), 9, Decimal('699.93')),
 (104, Decimal('88.88'), 14, Decimal('1244.32')),
 (105, Decimal('99.99'), 11, Decimal('1099.89')),
 (106, Decimal('20.20'), 13, Decimal('262.60')),
 (101, Decimal('30.30'), 12, Decimal('363.60')),
 (102, Decimal('40.40'), 15, Decimal('606.00'))]

### 2. List each user's email, city and corresponding trades (order_id, price, quantity, status).

In [5]:
%%sql

CREATE TABLE user_trades as
SELECT u.user_id, u.city, u.email, u.signup_date, 
    t.order_id, t.price, t.quantity, t.status, t.timestamp
FROM users u
JOIN trades t on u.user_id = t.user_id;

 * postgresql://user:***@localhost:5432/postgres
50 rows affected.

[]

In [6]:
%%sql
SELECT * FROM user_trades

 * postgresql://user:***@localhost:5432/postgres
50 rows affected.

[(101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 1, Decimal('49.99'), 10, 'impression', datetime.datetime(2025, 7, 14, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 2, Decimal('75.50'), 5, 'click', datetime.datetime(2025, 7, 15, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 3, Decimal('20.00'), 15, 'click', datetime.datetime(2025, 7, 16, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 4, Decimal('100.00'), 8, 'impression', datetime.datetime(2025, 7, 17, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 5, Decimal('60.25'), 20, 'click', datetime.datetime(2025, 7, 18, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 6, Decimal('33.33'), 12, 'impression', datetime.datetime(2025, 7, 19, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 7, Decimal('85.75'), 7, 'click', datetime.datetime(2025, 7, 20, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 8, Decimal('42.10'), 18, 'impression', datetime.datetime(2025, 7, 21, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 9, Decimal('55.55'), 9, 'click', datetime.datetime(2025, 7, 22, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 10, Decimal('99.99'), 11, 'impression', datetime.datetime(2025, 7, 23, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 11, Decimal('44.44'), 14, 'click', datetime.datetime(2025, 7, 24, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 12, Decimal('77.77'), 6, 'impression', datetime.datetime(2025, 7, 25, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 13, Decimal('23.45'), 13, 'click', datetime.datetime(2025, 7, 26, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 14, Decimal('88.88'), 5, 'impression', datetime.datetime(2025, 7, 27, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 15, Decimal('66.66'), 17, 'click', datetime.datetime(2025, 7, 28, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 16, Decimal('31.11'), 19, 'impression', datetime.datetime(2025, 7, 29, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 17, Decimal('50.50'), 8, 'click', datetime.datetime(2025, 7, 30, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 18, Decimal('45.45'), 12, 'impression', datetime.datetime(2025, 7, 31, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 19, Decimal('72.25'), 10, 'click', datetime.datetime(2025, 8, 1, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 20, Decimal('95.50'), 7, 'impression', datetime.datetime(2025, 8, 2, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 21, Decimal('30.30'), 15, 'click', datetime.datetime(2025, 8, 3, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 22, Decimal('60.60'), 9, 'impression', datetime.datetime(2025, 8, 4, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 23, Decimal('80.80'), 12, 'click', datetime.datetime(2025, 8, 5, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 24, Decimal('55.55'), 11, 'impression', datetime.datetime(2025, 8, 6, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 25, Decimal('44.44'), 14, 'click', datetime.datetime(2025, 8, 7, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 26, Decimal('77.77'), 6, 'impression', datetime.datetime(2025, 8, 8, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 27, Decimal('33.33'), 18, 'click', datetime.datetime(2025, 8, 9, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 28, Decimal('99.99'), 5, 'impression', datetime.datetime(2025, 8, 10, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 29, Decimal('50.50'), 16, 'click', datetime.datetime(2025, 8, 11, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 30, Decimal('65.65'), 8, 'impression', datetime.datetime(2025, 8, 12, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 31, Decimal('20.20'), 13, 'click', datetime.datetime(2025, 8, 13, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 32, Decimal('75.75'), 9, 'impression', datetime.datetime(2025, 8, 14, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 33, Decimal('88.88'), 12, 'click', datetime.datetime(2025, 8, 15, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 34, Decimal('45.45'), 10, 'impression', datetime.datetime(2025, 8, 16, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 35, Decimal('55.55'), 14, 'click', datetime.datetime(2025, 8, 17, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 36, Decimal('66.66'), 7, 'impression', datetime.datetime(2025, 8, 18, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 37, Decimal('77.77'), 11, 'click', datetime.datetime(2025, 8, 19, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 38, Decimal('88.88'), 9, 'impression', datetime.datetime(2025, 8, 20, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 39, Decimal('99.99'), 13, 'click', datetime.datetime(2025, 8, 21, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 40, Decimal('22.22'), 15, 'impression', datetime.datetime(2025, 8, 22, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 41, Decimal('33.33'), 8, 'click', datetime.datetime(2025, 8, 23, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 42, Decimal('44.44'), 12, 'impression', datetime.datetime(2025, 8, 24, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 43, Decimal('55.55'), 7, 'click', datetime.datetime(2025, 8, 25, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 44, Decimal('66.66'), 10, 'impression', datetime.datetime(2025, 8, 26, 14, 6, 9, 390287)),
 (103, 'Amsterdam', 'user103@example.com', datetime.datetime(2025, 7, 16, 14, 6, 9, 385643), 45, Decimal('77.77'), 9, 'click', datetime.datetime(2025, 8, 27, 14, 6, 9, 390287)),
 (104, 'Sevilla', 'user104@example.com', datetime.datetime(2025, 7, 17, 14, 6, 9, 385643), 46, Decimal('88.88'), 14, 'impression', datetime.datetime(2025, 8, 28, 14, 6, 9, 390287)),
 (105, 'Berlin', 'user105@example.com', datetime.datetime(2025, 7, 18, 14, 6, 9, 385643), 47, Decimal('99.99'), 11, 'click', datetime.datetime(2025, 8, 29, 14, 6, 9, 390287)),
 (106, 'Paris', 'user106@example.com', datetime.datetime(2025, 7, 19, 14, 6, 9, 385643), 48, Decimal('20.20'), 13, 'impression', datetime.datetime(2025, 8, 30, 14, 6, 9, 390287)),
 (101, 'Oslo', 'user101@example.com', datetime.datetime(2025, 7, 14, 14, 6, 9, 385643), 49, Decimal('30.30'), 12, 'click', datetime.datetime(2025, 8, 31, 14, 6, 9, 390287)),
 (102, 'Barcelona', 'user102@example.com', datetime.datetime(2025, 7, 15, 14, 6, 9, 385643), 50, Decimal('40.40'), 15, 'impression', datetime.datetime(2025, 9, 1, 14, 6, 9, 390287))]