In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table user_transactions with info about many orders. Write a query to get the names of the ten customers who have ordered the highest number of products among those customers who have spent at least 100â‚¬ total

In [2]:
%%sql

SELECT * FROM user_transactions LIMIT 10

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 101, UUID('38309e1a-7534-4de0-beae-2d9b571650ad'), 49.99, datetime.datetime(2025, 7, 21, 14, 6, 40, 131754)),
 (2, 102, UUID('4aa966cd-00e7-4985-996a-c63a1be90ee7'), 25.5, datetime.datetime(2025, 7, 22, 14, 6, 40, 131754)),
 (3, 103, UUID('94d99509-a493-4d40-a21c-5b9d44ad07a4'), 15.75, datetime.datetime(2025, 7, 23, 14, 6, 40, 131754)),
 (4, 104, UUID('73b72817-af62-4021-93b9-d87411fedca1'), 99.99, datetime.datetime(2025, 7, 24, 14, 6, 40, 131754)),
 (5, 105, UUID('dfdc0907-ba79-457b-81fe-c94e4c003a2f'), 45.0, datetime.datetime(2025, 7, 25, 14, 6, 40, 131754)),
 (6, 106, UUID('457d7298-2e31-44df-8710-f9fa5fb172b3'), 30.25, datetime.datetime(2025, 7, 26, 14, 6, 40, 131754)),
 (7, 107, UUID('a194bbdf-f128-4da7-93e4-64cf9c3715c5'), 12.5, datetime.datetime(2025, 7, 27, 14, 6, 40, 131754)),
 (8, 108, UUID('15a2f028-1752-4239-a734-7a689b6dff3e'), 60.0, datetime.datetime(2025, 7, 28, 14, 6, 40, 131754)),
 (9, 109, UUID('1733030e-7c27-481c-8776-c688f0eacc4e'), 20.0, datetime.datetime(2025, 7, 29, 14, 6, 40, 131754)),
 (10, 110, UUID('bb16eb5e-07d6-474e-b74a-6d8810ab40ca'), 75.5, datetime.datetime(2025, 7, 30, 14, 6, 40, 131754))]