In [2]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table user_transactions with info about many orders. Write a query to get the ids of the ten customers who have ordered the highest number of products among those customers who have spent at least 100â‚¬ total

In [3]:
%%sql

SELECT * FROM user_transactions LIMIT 10

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 101, UUID('7e12c11c-c735-4646-a6c4-7d8e10c4e357'), 49.99, datetime.datetime(2025, 8, 5, 14, 9, 49, 13340)),
 (2, 102, UUID('558400b1-f3d0-4977-93a4-4ca221b68589'), 25.5, datetime.datetime(2025, 8, 6, 14, 9, 49, 13340)),
 (3, 103, UUID('66bf8889-f8e3-4503-8f45-aad55fbb12d4'), 15.75, datetime.datetime(2025, 8, 7, 14, 9, 49, 13340)),
 (4, 104, UUID('067215ce-bbb8-4361-a555-161371939f2d'), 99.99, datetime.datetime(2025, 8, 8, 14, 9, 49, 13340)),
 (5, 105, UUID('8d53c91d-cc17-4add-8c43-c020b5a2104b'), 45.0, datetime.datetime(2025, 8, 9, 14, 9, 49, 13340)),
 (6, 106, UUID('a0e7f658-273b-45a4-98c6-738fc0eff950'), 30.25, datetime.datetime(2025, 8, 10, 14, 9, 49, 13340)),
 (7, 107, UUID('d92266ad-85b1-40ca-b22d-6397ca52abdf'), 12.5, datetime.datetime(2025, 8, 11, 14, 9, 49, 13340)),
 (8, 108, UUID('176e5ce6-d814-46f6-ac62-7ac1a1258ad5'), 60.0, datetime.datetime(2025, 8, 12, 14, 9, 49, 13340)),
 (9, 109, UUID('b6447804-2476-4845-ad5f-47b813d7dc0c'), 20.0, datetime.datetime(2025, 8, 13, 14, 9, 49, 13340)),
 (10, 110, UUID('5c8670ae-04f1-4c27-b152-9a6e82c03dcd'), 75.5, datetime.datetime(2025, 8, 14, 14, 9, 49, 13340))]

In [7]:
%%sql

SELECT user_id, SUM(spend) AS total_spend
FROM user_transactions
WHERE spend >= 100
group by user_id
LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
4 rows affected.

[(UUID('7003448d-736d-4d5d-9dda-0fb4fd3dcd57'), 110.25),
 (UUID('b3e195fb-67e2-40d6-b1b7-dab0674bffc7'), 120.0),
 (UUID('a9a6b178-3cbf-4592-9403-b091a6852699'), 130.75),
 (UUID('0d848bcd-5988-4d4c-a8d1-82adfbec3d10'), 100.5)]