In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table tweets with info about, obviously, tweets. Write a query to obtain the amount of tweets posted per user in 2020 and order by user ASC. Write another query to obtain the amount of tweets posted per user in 2021 per hour of day and order by user hour DESC