In [6]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table tweets with info about, obviously, tweets. Write a query to obtain the amount of tweets posted per user in 2020 and order by user ASC. Write another query to obtain the amount of tweets posted per user in 2021 per hour of day and order by user hour DESC

In [7]:
%%sql

SELECT * FROM tweets LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(UUID('f958cbca-5221-4935-87fb-c5153434a09e'), 101, 'Loving the new data project! #datascience', datetime.datetime(2020, 3, 15, 10, 30)),
 (UUID('09beb51e-5a34-426d-98cb-21972acd8b6b'), 102, 'Just finished a marathon, feeling great!', datetime.datetime(2020, 6, 22, 8, 15)),
 (UUID('f9fb8116-ab96-45f5-a079-36d06c47cc46'), 103, 'Coffee and code, my perfect morning routine.', datetime.datetime(2020, 9, 5, 7, 50)),
 (UUID('233f49a2-4c59-4a16-a133-60e8effcbace'), 104, 'Exploring machine learning with PostgreSQL', datetime.datetime(2020, 12, 11, 14, 20)),
 (UUID('70bd3c64-8bfa-466e-8d30-218c73713d41'), 105, 'Watching the sunset, life is good.', datetime.datetime(2020, 11, 1, 18, 45)),
 (UUID('f3e000ef-1945-41de-b58f-7d51b99e0841'), 106, 'Reading a new book on AI trends.', datetime.datetime(2020, 5, 19, 16, 0)),
 (UUID('f07d984b-7219-4a45-bb46-a7bbbac5e9e3'), 101, 'Debugging Python all day! #programming', datetime.datetime(2021, 1, 10, 9, 30)),
 (UUID('eef51596-a499-4c07-ae37-99d796a2cb0b'), 102, 'Enjoying a sunny weekend at the park.', datetime.datetime(2020, 2, 14, 11, 15)),
 (UUID('05c7a09b-e0ef-441b-a7fe-5da234f5698b'), 103, 'Just launched my personal website!', datetime.datetime(2021, 3, 20, 13, 0)),
 (UUID('9d2bad57-cded-408b-be9d-679603e9c0bc'), 104, 'Learning SQL joins, fun and challenging.', datetime.datetime(2021, 4, 25, 15, 40))]

In [8]:
%%sql

SELECT user_id,
       COUNT(*) AS tweets_count
FROM tweets
WHERE EXTRACT(YEAR FROM tweet_date) = 2020
GROUP BY user_id
ORDER BY user_id ASC;

 * postgresql://user:***@localhost:5432/postgres
6 rows affected.

[(101, 3), (102, 4), (103, 3), (104, 3), (105, 3), (106, 4)]

In [9]:
%%sql

SELECT EXTRACT(HOUR FROM tweet_date) AS hour_of_day,
       COUNT(*) AS tweets_count
FROM tweets
WHERE EXTRACT(YEAR FROM tweet_date) = 2021
GROUP BY hour_of_day
ORDER BY hour_of_day DESC;

 * postgresql://user:***@localhost:5432/postgres
12 rows affected.

[(Decimal('22'), 1),
 (Decimal('19'), 1),
 (Decimal('18'), 1),
 (Decimal('16'), 1),
 (Decimal('15'), 2),
 (Decimal('14'), 1),
 (Decimal('13'), 1),
 (Decimal('12'), 1),
 (Decimal('11'), 1),
 (Decimal('10'), 1),
 (Decimal('9'), 2),
 (Decimal('7'), 2)]

### Calculate 7-day rolling average of tweets by each user for every date

In [10]:
%%sql 

WITH daily_counts AS (
    SELECT 
        user_id,
        DATE(tweet_date) AS tweet_day,
        COUNT(*) AS tweets_per_day
    FROM tweets
    GROUP BY user_id, DATE(tweet_date)
)
SELECT 
    user_id,
    tweet_day,
    AVG(tweets_per_day) OVER (
        PARTITION BY user_id
        ORDER BY tweet_day
        RANGE BETWEEN INTERVAL '6 days' PRECEDING AND CURRENT ROW
    ) AS rolling_7d_avg
FROM daily_counts
ORDER BY user_id, tweet_day;

 * postgresql://user:***@localhost:5432/postgres
52 rows affected.

[(101, datetime.date(2020, 1, 18), Decimal('1.00000000000000000000')),
 (101, datetime.date(2020, 3, 15), Decimal('1.00000000000000000000')),
 (101, datetime.date(2020, 7, 2), Decimal('1.00000000000000000000')),
 (101, datetime.date(2021, 1, 10), Decimal('1.00000000000000000000')),
 (101, datetime.date(2021, 7, 9), Decimal('1.00000000000000000000')),
 (101, datetime.date(2022, 1, 5), Decimal('1.00000000000000000000')),
 (101, datetime.date(2022, 7, 2), Decimal('1.00000000000000000000')),
 (101, datetime.date(2023, 1, 18), Decimal('1.00000000000000000000')),
 (101, datetime.date(2023, 7, 9), Decimal('1.00000000000000000000')),
 (102, datetime.date(2020, 2, 14), Decimal('1.00000000000000000000')),
 (102, datetime.date(2020, 6, 22), Decimal('1.00000000000000000000')),
 (102, datetime.date(2020, 8, 16), Decimal('2.0000000000000000')),
 (102, datetime.date(2021, 2, 5), Decimal('1.00000000000000000000')),
 (102, datetime.date(2021, 8, 21), Decimal('1.00000000000000000000')),
 (102, datetime.date(2022, 2, 14), Decimal('1.00000000000000000000')),
 (102, datetime.date(2023, 2, 5), Decimal('1.00000000000000000000')),
 (102, datetime.date(2023, 8, 21), Decimal('1.00000000000000000000')),
 (103, datetime.date(2020, 9, 5), Decimal('1.00000000000000000000')),
 (103, datetime.date(2020, 9, 28), Decimal('2.0000000000000000')),
 (103, datetime.date(2021, 3, 11), Decimal('1.00000000000000000000')),
 (103, datetime.date(2021, 3, 20), Decimal('1.00000000000000000000')),
 (103, datetime.date(2021, 9, 30), Decimal('1.00000000000000000000')),
 (103, datetime.date(2022, 3, 20), Decimal('1.00000000000000000000')),
 (103, datetime.date(2023, 3, 11), Decimal('1.00000000000000000000')),
 (103, datetime.date(2023, 9, 30), Decimal('1.00000000000000000000')),
 (104, datetime.date(2020, 10, 5), Decimal('1.00000000000000000000')),
 (104, datetime.date(2020, 10, 15), Decimal('1.00000000000000000000')),
 (104, datetime.date(2020, 12, 11), Decimal('1.00000000000000000000')),
 (104, datetime.date(2021, 4, 22), Decimal('1.00000000000000000000')),
 (104, datetime.date(2021, 4, 25), Decimal('1.00000000000000000000')),
 (104, datetime.date(2021, 10, 15), Decimal('1.00000000000000000000')),
 (104, datetime.date(2022, 4, 25), Decimal('1.00000000000000000000')),
 (104, datetime.date(2022, 10, 5), Decimal('1.00000000000000000000')),
 (104, datetime.date(2023, 4, 22), Decimal('1.00000000000000000000')),
 (105, datetime.date(2020, 5, 3), Decimal('1.00000000000000000000')),
 (105, datetime.date(2020, 11, 1), Decimal('1.00000000000000000000')),
 (105, datetime.date(2020, 11, 12), Decimal('1.00000000000000000000')),
 (105, datetime.date(2021, 5, 30), Decimal('1.00000000000000000000')),
 (105, datetime.date(2021, 11, 7), Decimal('1.00000000000000000000')),
 (105, datetime.date(2022, 5, 30), Decimal('1.00000000000000000000')),
 (105, datetime.date(2022, 11, 12), Decimal('1.00000000000000000000')),
 (105, datetime.date(2023, 5, 3), Decimal('1.00000000000000000000')),
 (105, datetime.date(2023, 11, 7), Decimal('1.00000000000000000000')),
 (106, datetime.date(2020, 5, 19), Decimal('1.00000000000000000000')),
 (106, datetime.date(2020, 6, 15), Decimal('1.00000000000000000000')),
 (106, datetime.date(2020, 12, 2), Decimal('1.00000000000000000000')),
 (106, datetime.date(2020, 12, 20), Decimal('1.00000000000000000000')),
 (106, datetime.date(2021, 6, 15), Decimal('1.00000000000000000000')),
 (106, datetime.date(2021, 6, 18), Decimal('1.00000000000000000000')),
 (106, datetime.date(2021, 12, 2), Decimal('1.00000000000000000000')),
 (106, datetime.date(2022, 12, 20), Decimal('1.00000000000000000000')),
 (106, datetime.date(2023, 6, 18), Decimal('1.00000000000000000000'))]