In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table named job listings. Write a query to get the total number of companies that have posted duplicate job listings (>1 job at the same company with same title and description)