In [7]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table named job listings. Write a query to get the total number of companies that have posted duplicate job listings (>1 job at the same company with same title and description)

In [8]:
%%sql

SELECT *
FROM job_listings
LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(UUID('32462e7a-36f9-4f74-bb5e-4de6856efdb6'), 17, 'Project Manager', 'Coordinate projects and teams', datetime.datetime(2025, 8, 25, 12, 20, 13, 134860)),
 (UUID('a73a906b-408d-4917-8ebe-5021f6acb886'), 2, 'Data Analyst', 'Analyze data and generate reports', datetime.datetime(2025, 8, 10, 12, 20, 13, 134860)),
 (UUID('5091a0b4-c97c-4d82-a343-ec2a020a58b9'), 32, 'QA Engineer', 'Test and ensure software quality', datetime.datetime(2025, 9, 9, 12, 20, 13, 134860)),
 (UUID('029fae29-f5ed-4a95-b042-ddd8ae488928'), 36, 'Product Manager', 'Lead product development and strategy', datetime.datetime(2025, 9, 13, 12, 20, 13, 134860)),
 (UUID('1dec321e-4755-4da7-a659-0e5f7ff0eb02'), 8, 'Marketing Specialist', 'Plan and execute marketing campaigns', datetime.datetime(2025, 8, 16, 12, 20, 13, 134860)),
 (UUID('5276319c-e392-43c1-9e04-860029a48a89'), 23, 'Machine Learning Engineer', 'Build and deploy ML models', datetime.datetime(2025, 8, 31, 12, 20, 13, 134860)),
 (UUID('25ae9baa-b202-43c2-8226-18ed02e98a6b'), 33, 'Data Analyst', 'Analyze business data and KPIs', datetime.datetime(2025, 9, 10, 12, 20, 13, 134860)),
 (UUID('31dafb60-d02f-4f03-b49e-b53a39f3c204'), 41, 'Graphic Designer', 'Create visual content and branding', datetime.datetime(2025, 9, 18, 12, 20, 13, 134860)),
 (UUID('c4caa038-ad4f-4108-bff4-d2f9974fe7fd'), 7, 'UX Designer', 'Design user interfaces and experiences', datetime.datetime(2025, 8, 15, 12, 20, 13, 134860)),
 (UUID('d7e72ba6-e6f4-49ab-8383-37f8d7e0a23b'), 20, 'Data Engineer', 'Build and maintain data pipelines', datetime.datetime(2025, 8, 28, 12, 20, 13, 134860))]

In [9]:
%%sql

SELECT company_id, COUNT(*)
FROM job_listings
GROUP BY company_id
HAVING COUNT(*) > 1;

 * postgresql://user:***@localhost:5432/postgres
3 rows affected.

[(42, 3), (17, 2), (23, 2)]