In [34]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the table named job listings. Write a query to get the total number of companies that have posted duplicate job listings (>1 job at the same company with same title and description)

In [35]:
%%sql

SELECT *
FROM job_listings
LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(UUID('35a5572e-856d-4a3e-8e71-d7e54d82bfb4'), 17, 'Project Manager', 'Coordinate projects and teams', datetime.datetime(2025, 8, 21, 15, 6, 53, 913813)),
 (UUID('10369973-24df-4576-bbbb-f85ec1d59ca0'), 2, 'Data Analyst', 'Analyze data and generate reports', datetime.datetime(2025, 8, 6, 15, 6, 53, 913813)),
 (UUID('f7b464d6-edba-4a77-9465-aba88190cbc7'), 32, 'QA Engineer', 'Test and ensure software quality', datetime.datetime(2025, 9, 5, 15, 6, 53, 913813)),
 (UUID('9527f570-f6b3-4d23-abb8-348d4306b313'), 36, 'Product Manager', 'Lead product development and strategy', datetime.datetime(2025, 9, 9, 15, 6, 53, 913813)),
 (UUID('cdd8bc49-981c-4d71-8334-85e62e7e8f1b'), 8, 'Marketing Specialist', 'Plan and execute marketing campaigns', datetime.datetime(2025, 8, 12, 15, 6, 53, 913813)),
 (UUID('441aa6da-3f32-4364-b652-89fcd8b5b5e6'), 23, 'Machine Learning Engineer', 'Build and deploy ML models', datetime.datetime(2025, 8, 27, 15, 6, 53, 913813)),
 (UUID('cb8ef86b-0543-476b-8b09-e618bb21c70b'), 33, 'Data Analyst', 'Analyze business data and KPIs', datetime.datetime(2025, 9, 6, 15, 6, 53, 913813)),
 (UUID('b7d3b11a-c2fa-42fb-a7ec-aa7fed619d65'), 41, 'Graphic Designer', 'Create visual content and branding', datetime.datetime(2025, 9, 14, 15, 6, 53, 913813)),
 (UUID('2cb279e4-09f9-48ec-bc8b-aebb378d3fc9'), 7, 'UX Designer', 'Design user interfaces and experiences', datetime.datetime(2025, 8, 11, 15, 6, 53, 913813)),
 (UUID('7330db4c-188c-47e0-8032-f8df7a319cb5'), 20, 'Data Engineer', 'Build and maintain data pipelines', datetime.datetime(2025, 8, 24, 15, 6, 53, 913813))]

In [36]:
%%sql

SELECT company_id
FROM job_listings
GROUP BY company_id
HAVING COUNT(*) > 1;

 * postgresql://user:***@localhost:5432/postgres
3 rows affected.

[(42,), (17,), (23,)]