In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You have the tables below containing information on user actions. Write a query to obtain active user retention by month. An active user is defined as someone who took an action (sign-in, like, or comment) in the current month.

In [2]:
%%sql

SELECT * FROM user_actions LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 'sign-in', datetime.datetime(2025, 8, 10, 7, 17, 24, 582355)),
 (2, 'like', datetime.datetime(2025, 8, 11, 7, 17, 24, 582355)),
 (3, 'comment', datetime.datetime(2025, 8, 12, 7, 17, 24, 582355)),
 (4, 'sign-in', datetime.datetime(2025, 8, 13, 7, 17, 24, 582355)),
 (5, 'like', datetime.datetime(2025, 8, 14, 7, 17, 24, 582355)),
 (6, 'comment', datetime.datetime(2025, 8, 15, 7, 17, 24, 582355)),
 (1, 'like', datetime.datetime(2025, 8, 16, 7, 17, 24, 582355)),
 (2, 'comment', datetime.datetime(2025, 8, 17, 7, 17, 24, 582355)),
 (3, 'sign-in', datetime.datetime(2025, 8, 18, 7, 17, 24, 582355)),
 (4, 'like', datetime.datetime(2025, 8, 19, 7, 17, 24, 582355))]

In [3]:
%%sql

WITH monthly_active AS (
    SELECT 
        user_id,
        DATE_TRUNC('month', timestamp) AS month
    FROM user_actions
    GROUP BY user_id, DATE_TRUNC('month', timestamp)
),
retention AS (
    SELECT 
        curr.month AS month,
        COUNT(DISTINCT curr.user_id) AS active_users,
        COUNT(DISTINCT next.user_id) AS retained_users
    FROM monthly_active curr
    LEFT JOIN monthly_active next
        ON curr.user_id = next.user_id
        AND next.month = curr.month + INTERVAL '1 month'
    GROUP BY curr.month
)
SELECT 
    month,
    active_users,
    retained_users,
    ROUND(CAST(retained_users AS NUMERIC) / NULLIF(active_users,0), 2) AS retention_rate
FROM retention
ORDER BY month;

 * postgresql://user:***@localhost:5432/postgres
2 rows affected.

[(datetime.datetime(2025, 8, 1, 0, 0), 6, 6, Decimal('1.00')),
 (datetime.datetime(2025, 9, 1, 0, 0), 6, 0, Decimal('0.00'))]