In [5]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given the tables below containing information on user session activity. Write a query that ranks users according to their total session durations for each session type between the start date (2025-08-01) and the end date (2025-09-01).

In [6]:
%%sql

SELECT * FROM sessions LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 1, 'mobile', 30, datetime.datetime(2025, 8, 10, 7, 17, 24, 584238)),
 (2, 2, 'web', 45, datetime.datetime(2025, 8, 11, 7, 17, 24, 584238)),
 (3, 3, 'mobile', 25, datetime.datetime(2025, 8, 12, 7, 17, 24, 584238)),
 (4, 4, 'web', 50, datetime.datetime(2025, 8, 13, 7, 17, 24, 584238)),
 (5, 5, 'mobile', 35, datetime.datetime(2025, 8, 14, 7, 17, 24, 584238)),
 (6, 6, 'web', 40, datetime.datetime(2025, 8, 15, 7, 17, 24, 584238)),
 (7, 1, 'mobile', 20, datetime.datetime(2025, 8, 16, 7, 17, 24, 584238)),
 (8, 2, 'web', 30, datetime.datetime(2025, 8, 17, 7, 17, 24, 584238)),
 (9, 3, 'mobile', 25, datetime.datetime(2025, 8, 18, 7, 17, 24, 584238)),
 (10, 4, 'web', 50, datetime.datetime(2025, 8, 19, 7, 17, 24, 584238))]

In [8]:
%%sql

WITH user_sessions AS (
    SELECT
        user_id,
        session_type,
        SUM(duration) AS total_duration
    FROM sessions
    WHERE start_time >= '2025-08-01'
      AND start_time   <  '2025-09-02'
    GROUP BY user_id, session_type
)
SELECT
    user_id,
    session_type,
    total_duration,
    RANK() OVER (PARTITION BY session_type ORDER BY total_duration DESC) AS rank
FROM user_sessions
ORDER BY session_type, rank, user_id;

 * postgresql://user:***@localhost:5432/postgres
6 rows affected.

[(5, 'mobile', 140, 1),
 (3, 'mobile', 100, 2),
 (1, 'mobile', 90, 3),
 (4, 'web', 200, 1),
 (2, 'web', 135, 2),
 (6, 'web', 120, 3)]