In [18]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given the table named session_times, including their start and end times. A session is considered to be concurrent with another userâ€™s session if they overlap. Write a query to obtain the user session that is concurrent  ith the largest number of other user sessions.

In [19]:
%%sql

SELECT * FROM session_times LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, datetime.datetime(2025, 8, 10, 7, 39, 20, 666872), datetime.datetime(2025, 8, 10, 8, 9, 20, 666872)),
 (2, datetime.datetime(2025, 8, 11, 7, 39, 20, 666872), datetime.datetime(2025, 8, 11, 8, 24, 20, 666872)),
 (3, datetime.datetime(2025, 8, 12, 7, 39, 20, 666872), datetime.datetime(2025, 8, 12, 8, 39, 20, 666872)),
 (4, datetime.datetime(2025, 8, 12, 7, 39, 20, 666872), datetime.datetime(2025, 8, 12, 7, 59, 20, 666872)),
 (5, datetime.datetime(2025, 8, 16, 7, 39, 20, 666872), datetime.datetime(2025, 8, 16, 8, 29, 20, 666872)),
 (6, datetime.datetime(2025, 8, 15, 7, 39, 20, 666872), datetime.datetime(2025, 8, 15, 8, 14, 20, 666872)),
 (7, datetime.datetime(2025, 8, 16, 7, 39, 20, 666872), datetime.datetime(2025, 8, 16, 8, 19, 20, 666872)),
 (8, datetime.datetime(2025, 8, 17, 7, 39, 20, 666872), datetime.datetime(2025, 8, 17, 8, 4, 20, 666872)),
 (9, datetime.datetime(2025, 8, 18, 7, 39, 20, 666872), datetime.datetime(2025, 8, 18, 8, 34, 20, 666872)),
 (10, datetime.datetime(2025, 8, 19, 7, 39, 20, 666872), datetime.datetime(2025, 8, 19, 8, 9, 20, 666872))]

In [20]:
%%sql


SELECT 
    s1.session_id,
    COUNT(DISTINCT s2.session_id) AS concurrent_sessions
FROM session_times s1
JOIN session_times s2
  ON s1.session_id <> s2.session_id
 AND s1.start_time < s2.end_time
 AND s2.start_time < s1.end_time
GROUP BY s1.session_id
ORDER BY concurrent_sessions DESC
LIMIT 1;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(3, 2)]