In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given the table named business_reviews containing information on user reviews. Define a top-rated business as one whose reviews contain only 4 or 5 stars. Write a query to  btain the number and percentage of businesses that are top rated.

In [3]:
%%sql

SELECT * FROM business_reviews LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(103, 3, 'Average experience, nothing special.', 3, datetime.datetime(2025, 8, 12, 7, 39, 20, 669732)),
 (104, 4, 'Not satisfied, delivery was late.', 2, datetime.datetime(2025, 8, 13, 7, 39, 20, 669732)),
 (105, 5, 'Terrible, would not buy again.', 1, datetime.datetime(2025, 8, 14, 7, 39, 20, 669732)),
 (106, 6, 'Great value for money!', 5, datetime.datetime(2025, 8, 15, 7, 39, 20, 669732)),
 (101, 1, 'Customer service was excellent.', 5, datetime.datetime(2025, 8, 16, 7, 39, 20, 669732)),
 (102, 2, 'Product meets expectations.', 4, datetime.datetime(2025, 8, 17, 7, 39, 20, 669732)),
 (103, 3, 'Fast shipping, very happy.', 5, datetime.datetime(2025, 8, 18, 7, 39, 20, 669732)),
 (104, 4, 'Quality could be better.', 3, datetime.datetime(2025, 8, 19, 7, 39, 20, 669732)),
 (105, 5, 'Not as described.', 2, datetime.datetime(2025, 8, 20, 7, 39, 20, 669732)),
 (106, 6, 'Loved it!', 5, datetime.datetime(2025, 8, 21, 7, 39, 20, 669732))]

In [4]:
%%sql

WITH business_flags AS (
    SELECT
        business_id,
        MIN(review_stars) AS min_rating
    FROM business_reviews
    GROUP BY business_id
),
top_rated AS (
    SELECT
        business_id
    FROM business_flags
    WHERE min_rating >= 4
)
SELECT
    COUNT(*) AS top_rated_businesses,
    ROUND(100.0 * COUNT(*) / (SELECT COUNT(DISTINCT business_id) FROM business_reviews), 2) AS percentage_top_rated
FROM top_rated;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(2, Decimal('33.33'))]