In [2]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### You are given the two tables named signups and user_purchases containing information on user signups and user purchases. Of the users who joined within the past week, write a query to obtain the percentage of users that also purchased at least one item.

In [3]:
%%sql

SELECT * FROM signups LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, datetime.datetime(2025, 8, 10, 7, 39, 20, 674790)),
 (3, datetime.datetime(2025, 8, 11, 7, 39, 20, 674790)),
 (5, datetime.datetime(2025, 8, 12, 7, 39, 20, 674790)),
 (2, datetime.datetime(2025, 8, 13, 7, 39, 20, 674790)),
 (6, datetime.datetime(2025, 8, 14, 7, 39, 20, 674790)),
 (4, datetime.datetime(2025, 8, 15, 7, 39, 20, 674790)),
 (1, datetime.datetime(2025, 8, 16, 7, 39, 20, 674790)),
 (2, datetime.datetime(2025, 8, 17, 7, 39, 20, 674790)),
 (5, datetime.datetime(2025, 8, 18, 7, 39, 20, 674790)),
 (3, datetime.datetime(2025, 8, 19, 7, 39, 20, 674790))]

In [4]:
%%sql

SELECT * FROM user_purchases LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 101, 25.5, datetime.datetime(2025, 8, 10, 7, 39, 20, 676456)),
 (3, 102, 40.75, datetime.datetime(2025, 8, 11, 7, 39, 20, 676456)),
 (5, 103, 15.25, datetime.datetime(2025, 8, 12, 7, 39, 20, 676456)),
 (2, 104, 60.0, datetime.datetime(2025, 8, 13, 7, 39, 20, 676456)),
 (6, 105, 33.33, datetime.datetime(2025, 8, 14, 7, 39, 20, 676456)),
 (4, 106, 22.5, datetime.datetime(2025, 8, 15, 7, 39, 20, 676456)),
 (1, 107, 44.44, datetime.datetime(2025, 8, 16, 7, 39, 20, 676456)),
 (2, 108, 55.25, datetime.datetime(2025, 8, 17, 7, 39, 20, 676456)),
 (5, 109, 12.5, datetime.datetime(2025, 8, 18, 7, 39, 20, 676456)),
 (3, 110, 66.66, datetime.datetime(2025, 8, 19, 7, 39, 20, 676456))]

In [5]:
%%sql

WITH recent_signups AS (
    SELECT user_id
    FROM signups
    WHERE signup_date >= NOW() - interval '7 days'
),
purchasing_users AS (
    SELECT DISTINCT u.user_id
    FROM recent_signups u
    JOIN user_purchases p
    ON u.user_id = p.user_id
)
SELECT
    COUNT(p.user_id) AS purchased_users,
    COUNT(r.user_id) AS total_recent_signups,
    ROUND(100.0 * COUNT(p.user_id) / COUNT(r.user_id), 2) AS percentage_purchased
FROM recent_signups r
LEFT JOIN purchasing_users p
ON r.user_id = p.user_id;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(6, 6, Decimal('100.00'))]