In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given two tables named supermarket_products and supermarket_transactions. Find the top 3 products that are most frequently bought together (purchased in the same transaction).