In [34]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you have the table named user_logins containing information on user logins. Write a query to obtain the number of reactivated users (i.e., those who didnâ€™t log in the previous month, who then logged in during the current month).

In [35]:
%%sql

SELECT * FROM user_logins LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, datetime.datetime(2025, 7, 1, 9, 18, 27, 686680)),
 (2, datetime.datetime(2025, 6, 22, 9, 18, 27, 686680)),
 (3, datetime.datetime(2025, 6, 23, 9, 18, 27, 686680)),
 (4, datetime.datetime(2025, 6, 24, 9, 18, 27, 686680)),
 (5, datetime.datetime(2025, 6, 25, 9, 18, 27, 686680)),
 (6, datetime.datetime(2025, 6, 26, 9, 18, 27, 686680)),
 (1, datetime.datetime(2025, 6, 27, 9, 18, 27, 686680)),
 (2, datetime.datetime(2025, 6, 28, 9, 18, 27, 686680)),
 (3, datetime.datetime(2025, 6, 29, 9, 18, 27, 686680)),
 (4, datetime.datetime(2025, 7, 10, 9, 18, 27, 686680))]

In [36]:
%%sql

WITH current_period AS (
    SELECT DISTINCT user_id
    FROM user_logins
    WHERE login_date >= NOW() - INTERVAL '30 days'
),
previous_period AS (
    SELECT DISTINCT user_id
    FROM user_logins
    WHERE login_date >= NOW() - INTERVAL '60 days'
      AND login_date < NOW() - INTERVAL '30 days'
)
SELECT COUNT(*) AS reactivated_users_last_30_days
FROM current_period c
WHERE NOT EXISTS (
    SELECT 1
    FROM previous_period p
    WHERE p.user_id = c.user_id
);

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(3,)]