In [2]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given the table named web_transactions containing information on user transactions for particular products. Write a query to obtain the year-on-year growth rate for the total spend of each product, for each week (assume there is data each week).

In [3]:
%%sql

SELECT * FROM web_transactions LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(1, 101, 1, 25.5, datetime.datetime(2025, 8, 10, 9, 18, 27, 688115)),
 (2, 102, 2, 40.75, datetime.datetime(2025, 8, 11, 9, 18, 27, 688115)),
 (3, 103, 3, 15.25, datetime.datetime(2025, 8, 12, 9, 18, 27, 688115)),
 (4, 104, 4, 60.0, datetime.datetime(2025, 8, 13, 9, 18, 27, 688115)),
 (5, 105, 5, 33.33, datetime.datetime(2025, 8, 14, 9, 18, 27, 688115)),
 (6, 106, 6, 22.5, datetime.datetime(2025, 8, 15, 9, 18, 27, 688115)),
 (7, 101, 1, 44.44, datetime.datetime(2025, 8, 16, 9, 18, 27, 688115)),
 (8, 102, 2, 55.25, datetime.datetime(2025, 8, 17, 9, 18, 27, 688115)),
 (9, 103, 3, 12.5, datetime.datetime(2025, 8, 18, 9, 18, 27, 688115)),
 (10, 104, 4, 66.66, datetime.datetime(2025, 8, 19, 9, 18, 27, 688115))]

In [6]:
%%sql

WITH weekly_spend AS (
    SELECT
        product_id,
        date_trunc('week', transaction_date) AS week_start,
        SUM(spend) AS total_spend
    FROM web_transactions
    GROUP BY product_id, date_trunc('week', transaction_date)
),
weekly_spend_with_prev AS (
    SELECT
        ws.*,
        LAG(total_spend) OVER (PARTITION BY product_id ORDER BY week_start) AS total_spend_prev_week
    FROM weekly_spend ws
)
SELECT
    product_id,
    week_start,
    total_spend,
    total_spend_prev_week,
    CASE
        WHEN total_spend_prev_week IS NULL THEN NULL
        ELSE ROUND(
            ((total_spend - total_spend_prev_week) / total_spend_prev_week * 100)::numeric,
            2
        )
    END AS growth_percent
FROM weekly_spend_with_prev
ORDER BY product_id, week_start;

 * postgresql://user:***@localhost:5432/postgres
43 rows affected.

[(101, datetime.datetime(2025, 8, 4, 0, 0), 25.5, None, None),
 (101, datetime.datetime(2025, 8, 11, 0, 0), 44.44, 25.5, Decimal('74.27')),
 (101, datetime.datetime(2025, 8, 18, 0, 0), 30.25, 44.44, Decimal('-31.93')),
 (101, datetime.datetime(2025, 8, 25, 0, 0), 80.25, 30.25, Decimal('165.29')),
 (101, datetime.datetime(2025, 9, 1, 0, 0), 33.0, 80.25, Decimal('-58.88')),
 (101, datetime.datetime(2025, 9, 8, 0, 0), 90.25, 33.0, Decimal('173.48')),
 (101, datetime.datetime(2025, 9, 15, 0, 0), 88.75, 90.25, Decimal('-1.66')),
 (101, datetime.datetime(2025, 9, 22, 0, 0), 12.25, 88.75, Decimal('-86.20')),
 (102, datetime.datetime(2025, 8, 11, 0, 0), 96.0, None, None),
 (102, datetime.datetime(2025, 8, 18, 0, 0), 20.0, 96.0, Decimal('-79.17')),
 (102, datetime.datetime(2025, 8, 25, 0, 0), 90.0, 20.0, Decimal('350.00')),
 (102, datetime.datetime(2025, 9, 1, 0, 0), 44.5, 90.0, Decimal('-50.56')),
 (102, datetime.datetime(2025, 9, 8, 0, 0), 100.5, 44.5, Decimal('125.84')),
 (102, datetime.datetime(2025, 9, 15, 0, 0), 22.25, 100.5, Decimal('-77.86')),
 (102, datetime.datetime(2025, 9, 22, 0, 0), 95.5, 22.25, Decimal('329.21')),
 (103, datetime.datetime(2025, 8, 11, 0, 0), 15.25, None, None),
 (103, datetime.datetime(2025, 8, 18, 0, 0), 58.25, 15.25, Decimal('281.97')),
 (103, datetime.datetime(2025, 8, 25, 0, 0), 12.75, 58.25, Decimal('-78.11')),
 (103, datetime.datetime(2025, 9, 1, 0, 0), 55.75, 12.75, Decimal('337.25')),
 (103, datetime.datetime(2025, 9, 8, 0, 0), 110.75, 55.75, Decimal('98.65')),
 (103, datetime.datetime(2025, 9, 15, 0, 0), 30.5, 110.75, Decimal('-72.46')),
 (103, datetime.datetime(2025, 9, 22, 0, 0), 90.25, 30.5, Decimal('195.90')),
 (104, datetime.datetime(2025, 8, 11, 0, 0), 60.0, None, None),
 (104, datetime.datetime(2025, 8, 18, 0, 0), 66.66, 60.0, Decimal('11.10')),
 (104, datetime.datetime(2025, 8, 25, 0, 0), 65.75, 66.66, Decimal('-1.37')),
 (104, datetime.datetime(2025, 9, 1, 0, 0), 60.25, 65.75, Decimal('-8.37')),
 (104, datetime.datetime(2025, 9, 8, 0, 0), 120.0, 60.25, Decimal('99.17')),
 (104, datetime.datetime(2025, 9, 15, 0, 0), 40.75, 120.0, Decimal('-66.04')),
 (104, datetime.datetime(2025, 9, 22, 0, 0), 100.5, 40.75, Decimal('146.63')),
 (105, datetime.datetime(2025, 8, 11, 0, 0), 33.33, None, None),
 (105, datetime.datetime(2025, 8, 18, 0, 0), 75.5, 33.33, Decimal('126.52')),
 (105, datetime.datetime(2025, 8, 25, 0, 0), 60.5, 75.5, Decimal('-19.87')),
 (105, datetime.datetime(2025, 9, 1, 0, 0), 88.75, 60.5, Decimal('46.69')),
 (105, datetime.datetime(2025, 9, 8, 0, 0), 12.5, 88.75, Decimal('-85.92')),
 (105, datetime.datetime(2025, 9, 15, 0, 0), 50.25, 12.5, Decimal('302.00')),
 (105, datetime.datetime(2025, 9, 22, 0, 0), 110.75, 50.25, Decimal('120.40')),
 (106, datetime.datetime(2025, 8, 11, 0, 0), 22.5, None, None),
 (106, datetime.datetime(2025, 8, 18, 0, 0), 80.0, 22.5, Decimal('255.56')),
 (106, datetime.datetime(2025, 8, 25, 0, 0), 70.0, 80.0, Decimal('-12.50')),
 (106, datetime.datetime(2025, 9, 1, 0, 0), 22.75, 70.0, Decimal('-67.50')),
 (106, datetime.datetime(2025, 9, 8, 0, 0), 96.5, 22.75, Decimal('324.18')),
 (106, datetime.datetime(2025, 9, 15, 0, 0), 60.5, 96.5, Decimal('-37.31')),
 (106, datetime.datetime(2025, 9, 22, 0, 0), 120.0, 60.5, Decimal('98.35'))]