In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### you are given the table named financial_transactions containing information on user transactions for a particular business using Stripe. Write a query to obtain the accountâ€™s rolling 7-day earnings.