In [38]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### 1. Select the first 10 rows from events table

In [39]:
%%sql
SELECT * FROM events LIMIT 10;

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[(7, 'impression', datetime.datetime(2020, 2, 25, 16, 0)),
 (2, 'click', datetime.datetime(2020, 5, 15, 14, 1)),
 (9, 'impression', datetime.datetime(2020, 7, 22, 15, 0)),
 (4, 'click', datetime.datetime(2021, 6, 10, 17, 1)),
 (5, 'impression', datetime.datetime(2021, 1, 7, 8, 0)),
 (6, 'click', datetime.datetime(2020, 5, 12, 19, 1)),
 (1, 'click', datetime.datetime(2021, 3, 9, 13, 3)),
 (8, 'impression', datetime.datetime(2021, 1, 5, 10, 0)),
 (3, 'click', datetime.datetime(2021, 6, 1, 9, 2)),
 (9, 'impression', datetime.datetime(2021, 2, 2, 8, 5))]

### 2. Select all 'click' events and order them by app_id

In [44]:
%%sql
SELECT * FROM events 
WHERE event_type = 'click'
ORDER BY app_id;

 * postgresql://user:***@localhost:5432/postgres
20 rows affected.

[(1, 'click', datetime.datetime(2021, 3, 9, 13, 3)),
 (1, 'click', datetime.datetime(2020, 1, 5, 10, 1)),
 (1, 'click', datetime.datetime(2020, 1, 1, 10, 1)),
 (2, 'click', datetime.datetime(2020, 5, 15, 14, 1)),
 (2, 'click', datetime.datetime(2020, 2, 2, 8, 6)),
 (2, 'click', datetime.datetime(2020, 4, 25, 15, 2)),
 (2, 'click', datetime.datetime(2020, 3, 30, 18, 2)),
 (2, 'click', datetime.datetime(2020, 5, 17, 14, 1)),
 (3, 'click', datetime.datetime(2021, 6, 1, 9, 2)),
 (3, 'click', datetime.datetime(2020, 4, 22, 13, 1)),
 (3, 'click', datetime.datetime(2020, 1, 7, 8, 3)),
 (4, 'click', datetime.datetime(2021, 6, 10, 17, 1)),
 (5, 'click', datetime.datetime(2020, 3, 12, 12, 6)),
 (6, 'click', datetime.datetime(2021, 3, 14, 9, 1)),
 (6, 'click', datetime.datetime(2020, 5, 12, 19, 1)),
 (7, 'click', datetime.datetime(2021, 2, 18, 10, 21)),
 (7, 'click', datetime.datetime(2020, 2, 25, 16, 1)),
 (8, 'click', datetime.datetime(2020, 1, 15, 11, 1)),
 (8, 'click', datetime.datetime(2021, 2, 5, 12, 1)),
 (9, 'click', datetime.datetime(2020, 2, 10, 9, 31))]

### 3. Write a query to return the impressions that happened in 2020 and the hour, minute and second when they happened, order by app_id

In [50]:
%%sql
SELECT app_id, 
        event_type, timestamp, EXTRACT(HOUR FROM timestamp) as Hour, EXTRACT(MINUTE FROM timestamp) as Minute, EXTRACT(SECOND FROM timestamp) as Second
FROM events
WHERE EXTRACT(YEAR FROM timestamp) = 2020
    AND event_type = 'impression'
ORDER BY app_id;

 * postgresql://user:***@localhost:5432/postgres
4 rows affected.

[(4, 'impression', datetime.datetime(2020, 3, 30, 18, 1), Decimal('18'), Decimal('1'), Decimal('0.000000')),
 (6, 'impression', datetime.datetime(2020, 3, 14, 9, 0), Decimal('9'), Decimal('0'), Decimal('0.000000')),
 (7, 'impression', datetime.datetime(2020, 2, 25, 16, 0), Decimal('16'), Decimal('0'), Decimal('0.000000')),
 (9, 'impression', datetime.datetime(2020, 7, 22, 15, 0), Decimal('15'), Decimal('0'), Decimal('0.000000'))]

### 4. Write a query to count impressions per app_id and order descending.

In [55]:
%%sql 
SELECT app_id,
    SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) as count_impressions
FROM events
GROUP BY app_id
ORDER BY app_id DESC;

 * postgresql://user:***@localhost:5432/postgres
9 rows affected.

[(9, 5), (8, 3), (7, 4), (6, 3), (5, 4), (4, 5), (3, 2), (2, 1), (1, 3)]

### 5. Extract year and month from timestamp and count events per month.

In [74]:
%%sql 
SELECT EXTRACT(YEAR FROM timestamp) as year,
    EXTRACT(MONTH FROM timestamp) as month,
    COUNT(*) as eventS_month
FROM events
GROUP BY year, month
ORDER BY year, month;

 * postgresql://user:***@localhost:5432/postgres
13 rows affected.

[(Decimal('2020'), Decimal('1'), 4),
 (Decimal('2020'), Decimal('2'), 4),
 (Decimal('2020'), Decimal('3'), 4),
 (Decimal('2020'), Decimal('4'), 2),
 (Decimal('2020'), Decimal('5'), 3),
 (Decimal('2020'), Decimal('7'), 1),
 (Decimal('2021'), Decimal('1'), 5),
 (Decimal('2021'), Decimal('2'), 8),
 (Decimal('2021'), Decimal('3'), 7),
 (Decimal('2021'), Decimal('4'), 3),
 (Decimal('2021'), Decimal('5'), 3),
 (Decimal('2021'), Decimal('6'), 4),
 (Decimal('2021'), Decimal('7'), 2)]

### 6. Show app_id with more than 3 impressions and order by impressions

In [83]:
%%sql
SELECT app_id, SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) as impressions
FROM events
GROUP BY app_id
HAVING SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) > 3 
ORDER BY impressions;

 * postgresql://user:***@localhost:5432/postgres
4 rows affected.

[(5, 4), (7, 4), (9, 5), (4, 5)]

### 7. Extract the year from timestamp and count total events per year.

In [91]:
%%sql
SELECT EXTRACT(YEAR FROM timestamp) as year,
    COUNT(*) event_count
FROM events
GROUP BY EXTRACT(YEAR FROM timestamp);

 * postgresql://user:***@localhost:5432/postgres
2 rows affected.

[(Decimal('2021'), 32), (Decimal('2020'), 18)]

### 8. Write a query to group by app_id and event_type and count events. Order by app_id

In [96]:
%%sql 
SELECT app_id, COUNT(event_type) as events
FROM events
GROUP BY app_id, event_type
ORDER BY app_id;

 * postgresql://user:***@localhost:5432/postgres
18 rows affected.

[(1, 3),
 (1, 3),
 (2, 1),
 (2, 5),
 (3, 3),
 (3, 2),
 (4, 5),
 (4, 1),
 (5, 4),
 (5, 1),
 (6, 2),
 (6, 3),
 (7, 2),
 (7, 4),
 (8, 3),
 (8, 2),
 (9, 1),
 (9, 5)]

### 9. Get the clickthrough rate per app in 2021.

   <p align="center">
  <img src="../imgs/ctr.png" alt="ctr" width="500" />
</p>

#### Write input and output of the query

Logical execution of SQL queries:
“Frida Went Gathering Her Small Delicious Orange Lollipops”

F → FROM
W → WHERE
G → GROUP BY
H → HAVING
S → SELECT
D → DISTINCT
O → ORDER BY
L → LIMIT

Input those 3 cols
Ouput has to be app_id, sum_events where event = "click", sum_events where event = "impression", ctr as (sum_events where event = "click"/sum_events where event = "impression" )*100

Steps:
1. from events
2. where timestamp = 2021
3. group by app_id
4. select app_id, CASE(event_type = "click"), CASE(event_type = "impression"), ctr as mentioned before

In [40]:
%%sql 
SELECT app_id, 
    SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END) as total_clicks,
    SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END) as total_impressions,
    ROUND(
        (SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END)::numeric
        / NULLIF(SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END),0))*100, 2
    ) as ctr
FROM events
WHERE EXTRACT(YEAR FROM timestamp) = 2021
GROUP BY app_id;

 * postgresql://user:***@localhost:5432/postgres
9 rows affected.

[(1, 1, 3, Decimal('33.33')),
 (2, 0, 1, Decimal('0.00')),
 (3, 1, 2, Decimal('50.00')),
 (4, 1, 4, Decimal('25.00')),
 (5, 0, 4, Decimal('0.00')),
 (6, 1, 2, Decimal('50.00')),
 (7, 1, 3, Decimal('33.33')),
 (8, 1, 3, Decimal('33.33')),
 (9, 0, 4, Decimal('0.00'))]