In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

In [ ]:
%%sql 
DROP TABLE IF EXISTS students;

### 1. Create a table called students with the following columns:
- student_id (integer, primary key)
- name (text, not null)
- age (integer)
- major (text)

### Remember that in order to execute the cells, you have to add before any code in every cell

```
%%sql
```

### 2. Insert one student into the students table and check it
student_id = 1, name = 'Alice', age = 20, major = 'Computer Science'

### 3. Insert three more students in a single statement and check it
- Bob, age 22, Mathematics
- Charlie, age 19, Physics
- Diana, age 21, Computer Science

### 4. Insert a student with no major declared yet:
- Eve, age 18

### 5. Update Charlieâ€™s major to 'Chemistry'

### What happened to the row?

### 6. Increase the age of all students who are in Computer Science by 1 year.

### 7. Delete the record for Bob

### 8. Delete all students who are younger than 20.

### 9. Re-insert Bob (student_id = 6, age = 28) into the table, but this time set his major to 'Economics'.

### 10. Remove the table completely by dropping it.