In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

In [2]:
%%sql 
DROP TABLE IF EXISTS students;

 * postgresql://user:***@localhost:5432/postgres
Done.

[]

### 1. Create a table called students with the following columns:

student_id | name    | age | major

-----------+---------+-----+-----------------

1          | Alice   | 20  | Computer Science

2          | Bob     | 22  | Economics

3          | Charlie | 19  | Chemistry

4          | Diana   | 22  | Computer Science

5          | Eve     | 18  | NULL

### 2. Select all student names and ages.

### 3. Select the students whose age is greater than 20.

### 4. Select the name and age of each student, but rename the age column as years_old.

### Now rename the column permanently

### 5. Get the list of unique majors (no duplicates).

### 6. Count how many students are in each major.

### 7. Display the table ordered by age ascending.

### 8. Display the students ordered by age descending, showing only name and age.

### 9. Get the average age of students grouped by major.

### 10. Show only the majors that have more than 1 student.

### 11. Display all students ordered first by major (alphabetically) and then by age (descending).