In [ ]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### For these exercises you have to use the students table that was created in the notebook 02 and the alumni table that you run now:

In [ ]:
# %%sql 
# DROP TABLE IF EXISTS alumni;

In [ ]:
%%sql
CREATE TABLE alumni (
    alumni_id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    graduation_year INT,
    major TEXT
);

INSERT INTO alumni (name, graduation_year, major) VALUES
('Frank', 2020, 'Social Work'),
('Grace', 2019, 'Arts'),
('Hannah', 2021, 'History'),
('Ian', 2020, 'Biology');

### 1. Select all student names from Computer Science and all student names from Economics, using UNION.

### 2. Select all student ages from the table twice:
- Once with UNION
- Once with UNION ALL

Observe the difference. What happens?

UNION removes duplicates, UNION ALL keeps them

### 3. Select students younger than 20 union students older than 21.

### 4. Select all majors from students and all majors from alumni with duplicates

### 5. Select students older than 20 and alumni graduated after 2020

### 6. Select all student names and UNION with a single row 'Unknown' as name.

### 7. Select name and major from both tables

### 8. Select major from students and major from alumni using UNION ALL, then count how many total rows each major appears in.

### 9. Select the names of all students and alumni, but also include a column that shows whether each row comes from the students table or the alumni table. Combine them using UNION ALL.

### 10. Select the names of students and alumni who are in the Computer Science or Biology majors, and combine them into a single list using UNION.