In [1]:
%reload_ext sql

#Connect the notebook with the database
%sql postgresql://user:password@localhost:5432/postgres

### For these exercises you have to use the students table that was created in the notebook 02 and the alumni table created in the notebook 04

In [2]:
%%sql 
SELECT * FROM students;

 * postgresql://user:***@localhost:5432/postgres
6 rows affected.

[(1, 'Alice', 20, 'Computer Science'),
 (2, 'Bob', 22, 'Economics'),
 (3, 'Charlie', 19, 'Chemistry'),
 (4, 'Diana', 21, 'Computer Science'),
 (5, 'Eve', 18, None),
 (6, 'Mark', 25, 'History')]

In [3]:
%%sql
SELECT * FROM alumni;

 * postgresql://user:***@localhost:5432/postgres
6 rows affected.

[(7, 'Grace', 2019, 'Arts'),
 (8, 'Hannah', 2021, 'History'),
 (9, 'Ian', 2020, 'Biology'),
 (10, 'Diana', 2023, 'Biology'),
 (11, 'Alice', 2022, 'Civil Engineering'),
 (12, 'Frank', 2020, 'Social Work')]

### 1. Select all student names together with alumni names if they graduated in the same major. Show both names and the shared major.

### 2. List every student and show the graduation year of alumni who studied the same major. If no alumni exists for that major, still include the student.

### 3. List every alumni and show the names of students who are currently in the same major. If no student exists in that major, still include the alumni.

### 4. Show all pairs of students and alumni who are in the same major. Only include rows where both a student and an alumni exist.

### 5. List all majors that exist either in students or in alumni. Each major should appear only once.

### 6. Find all majors that exist in both tables — majors that have at least one current student and at least one alumni.

### 7. Show all students and all alumni in a single list with their name, type (student/alumni), and major.

### 8. Find students who don’t have a matching alumni in the same major.

### 9. Find alumni whose major is not studied by any current student.

### 10. Create a list of all possible pairs of student names and alumni names, regardless of major.