# Data Cleaning and Preprocessing - Questions

Handling missing values, type conversions, renaming, replacing values, and removing duplicates.

## Question 1
Check for missing values in the DataFrame using isna() and count the total number of missing values.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 2, np.nan, 4], 'B': [5, np.nan, 7, 8], 'C': [9, 10, 11, np.nan]})

## Question 2
Fill missing values in column 'A' with the mean of that column using fillna().

## Question 3
Drop all rows that contain any missing values using dropna().

## Question 4
Convert the data type of column 'B' from float to integer using astype().

In [ ]:
df_clean = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5.0, 6.0, 7.0, 8.0]})

## Question 5
Rename columns 'A' and 'B' to 'First' and 'Second' respectively using rename().

## Question 6
Replace all occurrences of the value 5 with 50 in the entire DataFrame using replace().

In [ ]:
df_values = pd.DataFrame({'X': [1, 5, 3], 'Y': [5, 2, 7], 'Z': [8, 5, 9]})

## Question 7
Create a DataFrame with duplicate rows and remove them using drop_duplicates().

## Question 8
Fill missing values with forward fill method using fillna(method='ffill').

In [ ]:
df_ffill = pd.DataFrame({'A': [1, np.nan, 3, np.nan, 5]})

## Question 9
Check data types of all columns using dtypes and convert a string column to numeric using pd.to_numeric().

In [ ]:
df_types = pd.DataFrame({'A': ['1', '2', '3'], 'B': [4, 5, 6]})

## Question 10
Replace missing values in different columns with different strategies: column 'A' with 0, column 'B' with the median.

In [ ]:
df_multi_fill = pd.DataFrame({'A': [1, np.nan, 3, np.nan], 'B': [10, 20, np.nan, 40]})