# Grouping and Aggregation - Questions

GroupBy operations with aggregation functions, multiple aggregations, and hierarchical groupings.

## Question 1
Create a DataFrame with sales data (Product, Region, Sales, Quantity) and group by Product to calculate the total sales for each product.

## Question 2
Using the same sales DataFrame, group by Region and calculate both mean sales and total quantity using agg().

## Question 3
Group the sales data by both Product and Region (hierarchical grouping) and calculate the sum of Sales.

## Question 4
Create a DataFrame with employee data (Department, Employee, Salary, Age) and find the employee with the highest salary in each department.

## Question 5
Using the employee DataFrame, group by Department and apply multiple aggregation functions: count of employees, mean salary, and max age.

## Question 6
Create a custom aggregation function that calculates the range (max - min) and apply it to the Salary column grouped by Department.

## Question 7
Using transform() with groupby, add a column showing each employee's salary as a percentage of their department's total salary.

## Question 8
Filter groups to show only departments where the average salary is greater than 60000.

## Question 9
Using apply() with groupby, create a function that returns the top 2 highest paid employees in each department.

## Question 10
Create a pivot table from the sales data showing Products as rows, Regions as columns, and sum of Sales as values.