# Indexing and Data Selection - Questions

Accessing data with .loc[], .iloc[], boolean indexing, slicing, and MultiIndex operations.

## Question 1
Given a DataFrame df, use .loc[] to select the row with index 'B' and column 'Score'.

In [ ]:
import pandas as pd
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 90, 75]}, 
                  index=['A', 'B', 'C'])

## Question 2
Use .iloc[] to select the second row and third column from the DataFrame df.

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

## Question 3
Create a boolean mask to filter rows where the 'Age' column is greater than 25, then apply it to the DataFrame.

In [ ]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Diana'], 
                   'Age': [23, 30, 35, 28]})

## Question 4
Use slicing to select rows 1 to 3 and columns 'Name' to 'Score' from the DataFrame.

In [ ]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Diana'], 
                   'Age': [23, 30, 35, 28], 
                   'Score': [85, 90, 75, 88]})

## Question 5
Select multiple specific columns ['Name', 'Score'] from the DataFrame using bracket notation.

## Question 6
Filter the DataFrame to show only rows where Age is between 25 and 35 (inclusive).

## Question 7
Create a MultiIndex DataFrame and select data from the first level of the index.

## Question 8
Use boolean indexing to select rows where the Name contains the letter 'a' (case insensitive).

## Question 9
Select the last 3 rows of the DataFrame using negative indexing with .iloc[].

## Question 10
Combine multiple conditions to filter rows where Age > 25 AND Score > 80.